.navbar-brand{
   background-color: blue; 
   border-width: 16px; 
}

.row div{
    padding: 20px 10px;border:1px solid;
}

.mycontent{
    float:left;
}
.aboutme{
    text align:left;
}
.footertext{
    text align:center;
}


